*{
  margin: 0 auto;
}
.App{
  border: 1px solid black;
  display: inline-block;
  align-items: center;
}
.App button{
  border-radius: 4px;
  background-color: chartreuse;
  margin-left: 5px;
}
.App img{
  display: block;
}